@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

body {
  font-family: var(--font-sans);
}

